<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>Home Page</h1>
    {% if user.is_authenticated %}
        <h2>Hello, {{user.username}}</h2>

        <div>
            Select by clicking on title of your playlists, curently tracking :<br>
            Youtube playlist :  {{ yt_tracking }}<br>
            Spotify playlist :   {{ sp_tracking }}<br>
            {% if yt_tracking and sp_tracking %}
                <a href="{% url 'update_list'%}">Add</a> tracks from Youtube playlist to spotify playlist
            {% endif %}

        </div>
        {% if playlists %}
            <h4>Here's your Spotify playlists</h4>
            <ul>
            {% for key, playlist in playlists.items %}
                <li><a href="{% url 'sp_playlist' key %}">{{ playlist.name }}</a></li>
                <ul>
                {% for track in playlist.tracks %}
                    <li>{{ track }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        {% else %}
            <a href="{% url 'spotify' %}">Get Spotify Playlists</a> <br>
        {% endif %}

        {% if ytlists %}
            <h4>Here's your Youtube playlists</h4>
            <ul>
            {% for key, playlist in ytlists.items %}
                <li><a href="{% url 'yt_playlist' key %}">{{ playlist.name }}</a></li>
                <ul>
                {% for track in playlist.tracks %}
                    <li>{{ track }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul><br>
        
        <a href="{% url 'create_playlist' %}">Create New Playlist Instead</a><br>
        {% else %}
            <a href="{% url 'google' %}">Get Youtube playlists</a> <br>
        {% endif %}
        <a href="{% url 'update' %}">Scratch credentials</a><br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'signup' %}">Signup</a><br>
        <a href="{% url 'login' %}">Login</a><br>
    {% endif %}
    
</body>
</html>