{% extends 'main.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="card">
    <div class="card-body">
        
        Select a playlist for tracking by clicking on the tick button besides a playlist's name<br>
        Youtube playlist :  {{ yt_tracking }}<br>
        Spotify playlist :   {{ sp_tracking }}<br>
    
    </div>
</div>

{% if yt_tracking and sp_tracking %}
<!-- <div class="card card-body">
</div> -->
<div class="card">
    <div class="card-body">
        <div class="row text-center">
            <div class="col mb-3">
                    <a class="btn btn-success" href="{% url 'update_list'%}">Add tracks from YouTube playlist to Spotify playlist</a>
            </div>
            <div class="col">
                    <a class="btn btn-success" href="{% url 'update_sp_list'%}">Add tracks from Spotify playlist to YouTube playlist</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if not playlists or not ytlists%}
<div class="card">
    <div class="card-body mx-auto">
        <div class="row">
            {% if not playlists %}
            <div class="col-sm-6">
                    <a class="btn btn-success" href="{% url 'spotify' %}"><i class="fab fa-spotify"></i> Get Spotify Playlists</a> <br>
            </div>
            {% endif %}
            {% if not ytlists %}
            <div class="col-sm-6">
                    {% load socialaccount %}
                    <a class="btn btn-danger" href="{% provider_login_url 'google' process='connect'%}"><i class="fab fa-youtube"></i> Get Youtube playlists</a> <br>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% if playlists %}
<div class="card">
    <div class="card-body">
        <h4>Here's your Spotify playlists</h4><br>
        {% for key, playlist in playlists.items %}
        <div class="row">
            <div class="col">
                <a class="btn btn-dark mb-2" data-toggle="collapse" href="#{{ key }}">{{ playlist.name }}</a>
                {% if key != 'None'%}
                <a class="btn btn-primary align-top" href="{% url 'sp_playlist' key %}"><i class="fas fa-check"></i></a>
                {% endif %}
                <div id="{{ key }}" class="panel-collapse collapse">
                    <ul class="list-group">
                    {% for track in playlist.tracks %}
                        <li class="list-group-item">{{ track }}</li>
                    {% endfor %}
                    </ul><br>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <div class="row">
            <div class="col d-flex">
                <a class="btn btn-danger mr-2" href="{% url 'create_sp_playlist' %}">Create New Spotify Playlist Instead</a><br>
               <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#scratch-model">Use Different Account</button><br>
        </div>
    </div>
    </div>
</div>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="scratch-model" tabindex="-1" role="dialog" aria-labelledby="ScratchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ScratchModalLabel">Use different Spotify account?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <form action="{% url 'scratch' %}" method='POST'>
                {% csrf_token %}
                <input class="btn btn-danger" type='submit' value='Confirm'/> 
            </form>
        </div>
      </div>
    </div>
  </div>

{% if ytlists %}
<div class="card">
    <div class="card-body">
  
        <h4>Here's your Youtube playlists</h4><br>
        {% for key, playlist in ytlists.items %}
        <div class="row">
            <div class="col">
                <a class="btn btn-dark mb-2" data-toggle="collapse" href="#{{ key }}">{{ playlist.name }}</a>
                {% if key != 'None'%}
                <a class="btn btn-primary align-top" href="{% url 'yt_playlist' key %}"><i class="fas fa-check"></i></a>
                {% endif %}
                <div id="{{ key }}" class="panel-collapse collapse">
                    <ul class="list-group">
                    {% for track in playlist.tracks %}
                        <li class="list-group-item">{{ track }}</li>
                    {% endfor %}
                    </ul><br>
                </div>
            {% endfor %}
    <br><br>
    <!-- <a class="btn btn-danger" href="{% url 'create_playlist' %}">Create New Playlist Instead</a><br> -->
    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#create-model">Create New Playlist Instead</button><br>


    <div class="modal fade" id="create-model" tabindex="-1" role="dialog" aria-labelledby="CreateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="" action="{% url 'create_playlist' %}" method='POST'>
                {% csrf_token %}
            <div class="modal-body">
                
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="title" value="Songs">
                    </div>
                    <div class="form-group">
                        <label for="decsciption">Description</label>
                        <input class="form-control" type="text" id="desrciption" name="description" value="Playlist created by spotify automation app, add your songs here">
                    </div>
            </div>
            <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </form>
          </div>
        </div>
      </div>

{% endif %}
{% else %}
<div class="row center">
        <div class="card card-body login-card rounded-lg">
            <div class="d-block wrap">
                <a class="btn button" href="{% url 'account_signup' %}">Sign up</a>
            </div>
            <div class="wrap">
                <a class="btn button" href="{% url 'account_login' %}">Login</a>
            </div>
        </div>    
</div>
{% endif %}
  </div>
</div>
{% endblock %}
