{% extends "main_no_navbar.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- <h1>{% trans "Sign In" %}</h1> -->

<!-- {% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->
<!-- 
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or">{% trans 'or' %}</div>
</div> -->

<!-- {% include "socialaccount/snippets/login_extra.html" %} -->
<!-- 
{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %} -->

<!-- <form class="form-signin login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button btn secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn button primaryAction" type="submit">{% trans "Sign In" %}</button>
</form> -->

<div class="container">
  <div class="card card-body w-50 mx-auto signup-card">
    <div class="row text-center">
            <h6 class="w-100 pb-3 mb-3 mt-2">Login with</h6>
            <div class="mx-auto">
              <a class="btn button mb-5" href="/accounts/google/login/?process=login">Google</a>
            </div>
            <h5 class="w-100 pb-3 mb-3">Login</h5>
            <form class="mx-auto login" action="{% url 'account_login' %}" method="post">
              {% csrf_token %}
              {% if request.GET.next %}
                  <input type="hidden" name="next" value="{{request.GET.next}}">
              {% endif %}

              {% if form.non_field_errors %}
              <div class="fieldWrapper alert alert-danger">
                  <ul>
                  {% for error in form.non_field_errors %}
                          <li>{{ error | lower}}</li>
                  {% endfor %}
                  </ul>
              </div>
              {% endif %}
                  <div class="col-lg-12">
                      <div class="form-group inner-addon left-addon {% if form.login.errors %}has-error{% endif %}">
                          <input class="form-control login-field" type="text" id="login" name="login" placeholder="Username">
                          <small class="form-text text-muted">{{ form.login.errors }}</small>
                      </div>
                      <div class="form-group inner-addon left-addon {% if form.password.errors %}has-error{% endif %}">
                          <input class="form-control login-field" type="password" id="id_password" name="password" placeholder="Password">
                          <small class="form-text text-muted">{{ form.password.errors }}</small>
                      </div>

                      <div class="form-group">
                        <div class="col-md-5">
                          <button type="submit" class="btn button ml-3 mt-3 primaryAction">Login</button>
                        </div>
                      </div>
                        <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        <p>Dont have a account? <a href="{% url 'account_signup' %}">Signup</a></p>
                    </div>
                  </form>
    </div>
  </div>
</div>
{% endblock %}
